@import "variables";

.home {
    .background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000 url("#{$staticUrl}/sites/img/cover.jpg") 56% center no-repeat;
        background-size: cover;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, .15);
        }
    }

    .content {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 100%;
        overflow-x: hidden;
        overflow-y: auto;

        $goldenRatio: 1.618;

        $lineHeight: 1.2;

        $pivotWidth: $lg-min-width / 2;

        $colorPink: #ec008c;

        $h1FontSize: 60px;
        $h2FontSize: 72px;
        $h3FontSize: 30px;

        $h1PaddingSmaller: 15px;
        $h1PaddingSmall: 20px;
        $h1Padding: 35px;
        $h1PaddingBig: 50px;

        $bandBottom: 100px;
        $bandHeight: 150px;
        $bandMinBottom: 40px;

        .color-pink {
            color: $colorPink;
        }

        h1 {
            cursor: pointer;
            position: absolute;
            top: 0;
            left: calc(50% - #{$pivotWidth});
            margin: 0;
            background: $colorPink;
            font-size: $h1FontSize;
            color: #fff;
            padding: $h1PaddingSmaller $h1PaddingBig $h1Padding;
            z-index: 2;

            a {
                color: #fff;
                text-decoration: none;
            }

            i {
                position: absolute;
                bottom: 8px;
                left: calc(50% - 8px);
                font-size: 20px;
            }

            @media (max-width: $md-max-width) {
                left: 0;
            }

            @media (max-width: $xs-max-width) {
                width: 100%;
                font-size: $h1FontSize / $goldenRatio;
                padding: $h1PaddingSmall $h1Padding $h1Padding;

                i {
                    bottom: auto;
                    left: auto;
                    right: 35px;
                    top: 40px;
                }
            }

            @media (max-height: $sm-max-width) {
                padding-top: $h1PaddingSmall;
                font-size: $h1FontSize / $goldenRatio;
            }
        }

        blockquote {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            min-height: 100%;
            margin: 0;
            padding-top: $h1FontSize * $lineHeight + $h1PaddingSmaller + $h1Padding + $h1PaddingBig;
            padding-bottom: $h1PaddingBig;
            background: #fff;
            color: #000;
            z-index: 1;

            &.active {
                display: block;
            }

            p {
                width: $lg-min-width;
                margin: 0 auto $h1PaddingSmaller;
                padding: 0 $h1PaddingBig;

                &:last-child {
                    margin-bottom: 0;
                }
            }

            a {
                color: $colorPink;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }

            @media (max-width: $md-max-width) {
                p {
                    width: 100%;
                }
            }

            @media (max-width: $xs-max-width) {
                padding-top: $h1FontSize / $goldenRatio * $lineHeight + $h1PaddingSmall + $h1Padding + $h1Padding;
                padding-bottom: $h1Padding;

                p {
                    padding: 0 $h1Padding;
                }
            }

            @media (max-height: $sm-max-width) {
                padding-top: $h1FontSize / $goldenRatio * $lineHeight + $h1PaddingSmall + $h1Padding + $h1Padding;
            }
        }

        .band {
            position: absolute;
            bottom: $bandBottom;
            left: 0;
            width: 60%;
            height: $bandHeight;
            background: #fff;

            @media (max-width: $md-max-width) {
                width: 100%;
            }

            @media (max-width: $xs-max-width) {
                height: $bandHeight / $goldenRatio;
                bottom: $bandBottom / $goldenRatio;
            }

            @media (max-height: $sm-max-width) {
                height: $bandHeight / $goldenRatio;
                bottom: $bandBottom / $goldenRatio;
            }

            @media (max-height: #{$xs-max-width - 100px}) {
                bottom: $bandMinBottom;
            }
        }

        h2 {
            position: absolute;
            bottom: $bandBottom;
            left: calc(50% - #{$pivotWidth});
            margin: 0;
            padding-left: 50px;
            padding-bottom: 7.5px;
            font-size: $h2FontSize;
            line-height: $bandHeight;
            color: #000;

            a {
                color: #000;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }

            .arrow-right {
                display: inline-block;
                width: 0;
                height: 0;
                margin-left: 25px;
                border-top: 19px solid transparent;
                border-bottom: 19px solid transparent;
                border-left: 18px solid black;
            }

            @media (max-width: $md-max-width) {
                left: 0;
            }

            @media (max-width: $xs-max-width) {
                bottom: $bandBottom / $goldenRatio;
                padding-left: 35px;
                padding-bottom: 2.75px;
                font-size: $h1FontSize / $goldenRatio;
                line-height: $bandHeight / $goldenRatio;

                .arrow-right {
                    margin-left: 10px;
                    border-top-width: 10px;
                    border-bottom-width: 10px;
                    border-left-width: 10px;
                }
            }

            @media (max-height: $sm-max-width) {
                bottom: $bandBottom / $goldenRatio;
                padding-bottom: 2.75px;
                font-size: $h1FontSize / $goldenRatio;
                line-height: $bandHeight / $goldenRatio;

                .arrow-right {
                    margin-left: 10px;
                    border-top-width: 10px;
                    border-bottom-width: 10px;
                    border-left-width: 10px;
                }
            }

            @media (max-height: #{$xs-max-width - 100px}) {
                bottom: $bandMinBottom;
            }
        }

        .description {
            position: absolute;
            bottom: $bandBottom + $bandHeight + $bandBottom / 2;
            left: calc(50% - #{$pivotWidth});
            padding: 0 50px;
            width: $pivotWidth + 50px;
            font-size: $h3FontSize;
            color: #fff;

            @media (max-width: $md-max-width) {
                left: 0;
            }

            @media (max-width: $xs-max-width) {
                bottom: ($bandBottom + $bandHeight + $bandBottom / 2) / $goldenRatio;
                padding: 0 35px;
                width: 100%;
                font-size: $h3FontSize / $goldenRatio;
            }

            @media (max-height: $sm-max-width) {
                bottom: ($bandBottom + $bandHeight + $bandBottom / 2) / $goldenRatio;
                font-size: $h3FontSize / $goldenRatio;
            }

            @media (max-height: #{$xs-max-width - 100px}) {
                bottom: ($bandBottom + $bandHeight + $bandBottom / 2) / $goldenRatio - ($bandBottom / $goldenRatio - $bandMinBottom);
            }

            @media (max-height: #{$xs-max-width - 200px}) {
                display: none;
            }
        }

        .project {
            display: none;

            &.active {
                display: block;
            }
        }
    }
}