$xs-max-width: 575px;
$sm-min-width: 576px;
$sm-max-width: 767px;
$md-min-width: 768px;
$md-max-width: 991px;
$lg-min-width: 992px;
$lg-max-width: 1199px;
$xl-min-width: 1200px;

$d5: 3rem;
$d6: $d5 * 2;

$d8x: 8px;
$d15x: 15px;

$rem: 16px;
$d-base-n: 14;
$d-base: 14rem;